@import '../color-variables';

.month-switch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background-color: $grey-dark;
  color: $white;
  border-radius: 10px 10px 0px 0px;

  button {
    background: transparent;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 22px;
  }
}
