$white: rgb(255, 255, 255);
$green-light: rgb(9, 139, 26);
$green-dark: rgb(6, 114, 21);
$blue-light: rgb(28, 193, 196);
$blue-dark: rgb(17, 136, 138);
$red-light: rgb(208, 55, 55);
$red-dark: rgb(168, 28, 28);
$grey-dark: rgb(65, 65, 65);
$grey: rgb(104, 104, 104);
$grey-light: rgb(179, 179, 179);
$yellow-light: rgb(228, 247, 161);
$yellow-dark: rgb(158, 160, 31);
$black: rgb(0, 0, 0);
